html {
    user-select: none;
    font-family: serif;
    background-color: #DDE9F5;
}
body {
    display: block;
    margin-left: 10dvw;
    margin-right: 10dvw;
    margin-top: .5dvh;
    margin-bottom: .5dvh;
}

.grid {
    display: grid;
    background-color: #959595;
    border: 5px black;
    border-style: solid;
}
.cell {
    aspect-ratio : 1 / 1;
    cursor: pointer;
    background-color: #BDBDBD;
    border-style: solid;
    border-color: #959595;
    align-content: center;
    text-align: center;
    font-weight: 1000;
}
.cell.hex {
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    border-style: none;
}
.cell.hex.odd-row {
    transform: translateX(79%); 
}
.cell.triangle {
    aspect-ratio : 1.155 / 1;
    clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
    border-style: none;
}
.cell.triangle.down {
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
}

.unrevealed {
    box-shadow: inset -.3dvw -.3dvw #7B7B7B, inset .3dvw .3dvw white;
    border-style: none;
}
.unrevealed.triangle {
    box-shadow: inset -.8dvw -.8dvw #7B7B7B, inset .8dvw .8dvw white;
}
.peaked {
    box-shadow: none;
    border-style: solid;
}
.unrevealed.triangle.peaked {
    box-shadow: none;
    border-style: none;
}
.boom {
    box-shadow: none;
    border-style: solid;
}
._1 {color: blue;}
._2 {color: green;}
._3 {color: red;}
._4 {color: #00007B}
._5 {color: #7B0000}
._6 {color: #007B7B}
._7 {color: black;}
._8 {color: #7B7B7B}

#info {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    background-color: dodgerblue;
    height: 3.5dvw;
    font-size: 3dvw;
    border: 5px black;
    border-style: solid;
    button {
        font-size: 2dvw;
        height: 2.5dvw;
        margin-top: .5dvw;
        cursor: pointer;
    }
    line-height: 3.5dvw;
    #lifes {
        justify-self: center;
    }
    #flags {
        justify-self: center;
    }
    #results {
        justify-self: center;
        mask: linear-gradient(-60deg, #000 30%, #0005, #000 70%) right/350% 100%;
        animation: shimmer 2.5s infinite;
    }
}
@keyframes shimmer {
    100% {
      mask-position: left
    }
  }
#settings {
    top: 10dvh;
    left: 15dvw;
    position: absolute;
    background-color: #DDE9F5;
    z-index: 1;
    border: 5px black;
    border-style: solid;
    label {
        padding: 5px;
        width: 82px;
        display: inline-block;
    }
    .textInput {
        width: 30px;
        margin-right: 5px;
    }
    input[type="checkbox"] {
        cursor: pointer;
    }
    input[type="radio"] {
        cursor: pointer;
    }
    .title {
        padding: 5px;
        font-size: larger;
    }
    .optionsCategory {
        float: left;
        border: 1px black;
        border-style: solid;
        height: 150px;
    }
    #archipelagoOptions {
        border: 1px black;
        border-style: solid;
    }
}
#optionsHeader {
    border-bottom: 5px black;
    border-bottom-style: solid;
    background-color: dodgerblue;
    padding: 5px;
    #closeOptions {
        cursor: pointer;
        float: right;
    }
    font-size: larger;
    color: white;
}

