html {
    user-select: none;
    font-family: serif;
}
body {
    display: block;
    margin-left: 10dvw;
    margin-right: 10dvw;
    margin-top: .5dvh;
    margin-bottom: .5dvh;
}

.grid {
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(16, 1fr);
    background-color: #ccc;
    max-width: 80dvw;
    max-height: 99dvh;
    gap: 0;
    border: 5px black;
    border-style: solid;
}
.cell {
    aspect-ratio : 1 / 1;
    cursor: pointer;
    background-size: cover;
    background-color: #BDBDBD;
    border-style: solid;
    border-color: #959595;
    font-size: calc((80dvw / 30) / 2);
    align-content: center;
    text-align: center;
    font-weight: 1000;
}

.unrevealed {
    box-shadow: inset -.3dvw -.3dvw #7B7B7B, inset .3dvw .3dvw white;
    border-style: none;
}
.peaked {
    box-shadow: none;
    border-style: solid;
}
.boom {
    box-shadow: none;
    border-style: solid;
}
._1 {color: blue;}
._2 {color: green;}
._3 {color: red;}
._4 {color: #00007B}
._5 {color: #7B0000}
._6 {color: #007B7B}
._7 {color: black;}
._8 {color: #7B7B7B}

#info {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    background-color: #BDBDBD;
    height: 3.5dvw;
    font-size: 3dvw;
    border: 5px black;
    border-style: solid;
    button {
        font-size: 2dvw;
        height: 2.5dvw;
        margin-top: .5dvw;
    }
    line-height: 3.5dvw;
    #lifes {
        justify-self: center;
    }
    #flags {
        justify-self: center;
    }
    #results {
        justify-self: center;
    }
}
